# Data / results
data/
figs/
extra1/
projects/mirror_game/data/
projects/mirror_game/results/

# OS/editor cruft
.DS_Store
.vscode/

# Python junk
__pycache__/
**/__pycache__/
*.py[cod]

# Jupyter junk
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Build / packaging
*.egg-info

# Mosaic Results
projects/Mosaic/animations
projects/Mosaic/crqa_results
projects/Mosaic/rqa_results
projects/Mosaic/linear_results

# Mirror Game Results
projects/mirror_game/notebooks/mirror_game_preprocessed*

# Virtual environments
venv/
.env/
env/
.venv/

# C++ compiled files
*.pyd

# Plots
projects/Mosaic/plots/

# Large cache outputs
projects/Mosaic/notebooks/cache_roi_windows/
*.parquet
